.h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff ;
}
.p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #ffffff ;
    font-weight: bolder;
}
.estilo_link {
    color: white;
    text-decoration: none;
}